body {
    font-family: sans-serif;
    color: #fff;
    background: #772ea8;
}

h1 {
    text-align: center;
    font-size: 3em;
}

/* BOXES */
.boxes {
    display: flex;
    flex-wrap: wrap;
    max-width: 1170px;
    margin: 50px auto;
}

.boxes .box {
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: black;
    width: 80px;
    height: 80px;
    margin: 1rem;
}

.box-5-3 {
    background: lightcoral;
}

.box-3 {
    background-color: lightgreen;
}

.box-5 {
   background-color: lightyellow;
}

.box-0 {
    background-color: lightskyblue;
}